<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update User</title>
</head>
<body style="background-color:rgb(231, 204, 219);">
    <h1>Update User</h1>
    <h2>Enter the Name</h2>
    <form action="{{ url_for('update_user') }}" method="post">
        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name" required><br>
        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name" required><br>
        <input type="submit" value="Submit"><br><br>
        <label for="field_to_update">Which field would you like to update?</label><br>
        <select id="field_to_update" name="field_to_update" required>
            <option value="First Name">First Name</option>
            <option value="Last Name">Last Name</option>
            <option value="Birthday">Birthday</option>
        </select><br><br>

        <label for="new_value">New Value:</label><br>
        <input type="text" id="new_value" name="new_value" required><br><br>

        <input type="submit" value="Update">

    </form>
</body>
</html>
